/* FONT IMPORT LINK */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

/* VARIABLES */
:root {
    /* FONT-FAMILY */
    --font-family: "Poppins", sans-serif;

    /* FONT-SIZE */
    --font-size-xxs: 10px;
    --font-size-xs: 12px;
    --font-size-sm: 14px;
    --font-size-base: 16px;
    --font-size-lg: 18px;
    --font-size-h5: 20px;
    --font-size-h4: 24px;
    --font-size-h3: 28px;
    --font-size-h2: 32px;
    --font-size-h1: 40px;
    --font-size-display: 56px;

    /* FONT-WEIGHT */
    --font-weight-regular: 400;
    --font-weight-semi-bold: 600;
    --font-weight-bold: 700;

    /* LINE-HEIGHT */
    --line-height-xxs: 1.5;
    --line-height-xs: 1.5;
    --line-height-sm: 1.5;
    --line-height-base: 1.5;
    --line-height-lg: 1.5;
    --line-height-h5: 1.5;
    --line-height-h4: 1.3;
    --line-height-h3: 1.3;
    --line-height-h2: 1.3;
    --line-height-h1: 1.3;
    --line-height-display: 1.3;

    /* COLORS */
    --color-black: #000000;
    --color-light-black: #4F4F4F;
    --color-white: #FFFFFF;
    --color-orange: #F2994A;
    --color-light-orange: #FFF5EC;
    --color-gray: #BABBBC;
    --color-gray-light: #F5F6F7;
    --color-blue: #6c7ce4;

    /* CONTAINER */
    --main-width: 898px;
    /* 850 + 48 = 898px */
}

/* BASE */
*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

::selection {
    color: var(--color-white);
    background: var(--color-black);
}

html,
body {
    font-family: var(--font-family);
    font-size: 62.5%;
    scroll-behavior: smooth;
    background-color: var(--color-light-orange);
    scroll-padding-top: 100px;
    font-weight: var(--font-weight-regular);
}

ul,
ol {
    list-style-type: none;
}

a {
    text-decoration: none;
}

input[type="submit"],
button {
    font-family: inherit;
    border: none;
    cursor: pointer;
}

select,
textarea,
input {
    font-family: inherit;
    border: none;
    resize: none;
}

img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.container {
    max-width: var(--main-width);
    margin: 0 auto;
    padding: 0 24px;
}

.button {
    font-size: var(--font-size-sm);
    line-height: var(--line-height-sm);
    font-weight: var(--font-weight-semi-bold);
    padding: 5px 15px;
    color: var(--color-white);
    background-color: var(--color-orange);
    border-radius: 20px;
    transition: all 200ms ease-in;
}

.button:hover {
    background-color: var(--color-black);
}